
@{
    ViewData["Title"] = "Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Admin/assets/vendor/bootstrap/css/bootstrap.min.css">
<link href="~/Admin/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
<link rel="stylesheet" href="~/Admin/assets/libs/css/style.css">
<link rel="stylesheet" href="~/Admin/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
<link rel="stylesheet" href="~/Admin/assets/vendor/charts/chartist-bundle/chartist.css">
<link rel="stylesheet" href="~/Admin/assets/vendor/charts/morris-bundle/morris.css">
<link rel="stylesheet" href="~/Admin/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/Admin/assets/vendor/charts/c3charts/c3.css">
<link rel="stylesheet" href="~/Admin/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
<style>
    body{
        background-color:#fff
    }
</style>
<div class="container bg-white">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="section-block">
                <h2 class="section-title"> Packages</h2>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-header bg-primary text-center p-3 ">
                    <h4 class="mb-0 text-white"> Basic</h4>
                </div>
                <div class="card-body text-center">
                    <h1 class="mb-1">$150</h1>
                    <p>Per Month Plateform</p>
                </div>
                <div class="card-body border-top">
                    <ul class="list-unstyled bullet-check font-14">
                        <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                        <li>Guaranteed follower growth for increas brand awareness.</li>
                        <li>Daily updates on choose platforms</li>
                        <li>Stronger customer service through daily interaction</li>
                        <li>Monthly progress report</li>
                        <li>1 Million Followers</li>
                    </ul>
                    <a href="#" class="btn btn-outline-secondary btn-block btn-lg">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-header bg-info text-center p-3">
                    <h4 class="mb-0 text-white"> Standard</h4>
                </div>
                <div class="card-body text-center">
                    <h1 class="mb-1">$350</h1>
                    <p>Per Month Plateform</p>
                </div>
                <div class="card-body border-top">
                    <ul class="list-unstyled bullet-check font-14">
                        <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                        <li>Guaranteed follower growth for increas brand awareness.</li>
                        <li>Daily updates on choose platforms</li>
                        <li>Stronger customer service through daily interaction</li>
                        <li>Monthly progress report</li>
                        <li>2 Blog Post & 3 Social Post</li>
                        <li>5 Millions Followers</li>
                        <li>Growth Result</li>
                    </ul>
                    <a href="#" class="btn btn-secondary btn-block btn-lg">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-header bg-primary text-center p-3">
                    <h4 class="mb-0 text-white">Premium</h4>
                </div>
                <div class="card-body text-center">
                    <h1 class="mb-1">$550</h1>
                    <p>Per Month Plateform</p>
                </div>
                <div class="card-body border-top">
                    <ul class="list-unstyled bullet-check font-14">
                        <li>Facebook, Instagram, Pinterest,Snapchat.</li>
                        <li>Guaranteed follower growth for increas brand awareness.</li>
                        <li>Daily updates on choose platforms</li>
                        <li>Stronger customer service through daily interaction</li>
                        <li>Monthly progress report & Growth Result</li>
                        <li>4 Blog Post & 6 Social Post</li>
                    </ul>
                    <a href="#" class="btn btn-secondary btn-block btn-lg">Contact us</a>
                </div>
            </div>
        </div>

    </div>
</div>
    

