@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "GetProductStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="cat_product_area section_gap">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-12">
               

                <div id="productContainer">
                     @Html.Partial("_GetProductStore", Model)
                </div> 
            </div>

          
        </div>
    </div>
</section>

@section Scripts{
    <script>
        function loadProducts(categoryId,isSwap) {
            console.log(isSwap)
            $.ajax({
                url: '@Url.Action("GetProductPartialView", "Home")',
                type: 'GET',
                data: { 
                    categoryId: categoryId,
                    isSwap: isSwap
                },
                success: function (data) {
                    $('#productContainer').html(data); 
                },
                error: function () {
                    alert('Failed to load products.');
                }
            });
        }
    </script>
            

}

